html, body {
	margin: 0;
	padding: 0;
}
canvas {
	box-sizing: border-box;
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
#scanner {
	border-radius: 5em;
	border: 2px solid red;
}
#card-list {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
#card-list button {
	border: 1px solid black;
	margin: 0.5em;
	padding: 0.5em;
	text-align: left;
}

h1 {
	font-size: 1.5em;
	text-decoration: underline;
}

button.back {
	position: absolute;
	top: 0;
	left: 0;
	background: none;
	border: none;
	color: inherit;
	padding: .5em;
	box-sizing: border-box;
}

main {
	text-align: center;
	padding: 1em;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
}
main.backdrop {
	background-color: #000;
	color: #888;
}
button {
	padding: .5em;
}
button.action {
	background-color: white;
	border: 2px solid black;
	border-radius: 0.5em;
}

/* Color picking */
fieldset {
	border: unset;
	display: grid;
	width: min-content;
	margin: 0 auto;
	grid-template: 1fr / 1fr 1fr 1fr 1fr;
}
input[type="radio"] {
	appearance: none;
	width: 2em;
	height: 2em;
	border: 1px solid #555;
	/* background-color: attr(value color); Sad that this doesn't work */
}
input[type="radio"]:checked {
	border-width: 3px;
}
input[value="#fa5252"] {
	background-color: #fa5252;
}
input[value="#e64980"] {
	background-color: #e64980;
}
input[value="#be4bdb"] {
	background-color: #be4bdb;
}
input[value="#4c6ef5"] {
	background-color: #4c6ef5;
}
input[value="#228be6"] {
	background-color: #228be6;
}
input[value="#15aabf"] {
	background-color: #15aabf;
}
input[value="#12b886"] {
	background-color: #12b886;
}
input[value="#40c057"] {
	background-color: #40c057;
}