html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	margin: unset;
}
canvas {
	box-sizing: border-box;
	display: block;
	max-width: 100%;
	/* margin: 0 auto; */
}
#scanner {
	border-radius: 5em;
	border: 2px solid red;
}
#card-list {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
#card-list button {
	border: 1px solid black;
	margin: 0.5em;
	padding: 0.5em;
	text-align: left;
}
main.card-edit {
	font-size: 1.3em;
	display: grid;
	grid-template: repeat(4, min-content) 1fr min-content / 1fr;
	row-gap: 1em;
}
.spacer {
	flex-grow: 1 1;
}
.space-between {
	display: flex;
	justify-content: space-between;
}

form {
	display: contents;
}

h1 {
	font-size: 1.5em;
	text-decoration: underline;
}

button.back {
	position: absolute;
	top: 0;
	left: 0;
	background: none;
	border: none;
	color: inherit;
	padding: .5em;
	box-sizing: border-box;
}

main {
	padding: 1em;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
main.backdrop {
	background-color: #000;
	color: #888;
}
h1 {
	width: max-content;
	margin: 0 auto;
}

button {
	padding: .5em 2em;
}
button.action {
	background-color: white;
	border: 2px solid black;
	border-radius: 0.5em;
}

/* Color picking */
fieldset {
	margin: unset;
	padding: unset;
	border: unset;
	width: min-content;
	/* margin: 0 auto; */
	display: grid;
	grid-template: 1fr / 1fr 1fr 1fr 1fr;
}
legend {
	width: max-content;
}
input[type="radio"] {
	margin: .2em;
	padding: unset;
	appearance: none;
	width: 2em;
	height: 2em;
	border: 1px solid #555;
	/* background-color: attr(value color); Sad that this doesn't work */
}
input[type="radio"]:checked {
	border-width: 3px;
}
input[value="#fa5252"] {
	background-color: #fa5252;
}
input[value="#e64980"] {
	background-color: #e64980;
}
input[value="#be4bdb"] {
	background-color: #be4bdb;
}
input[value="#4c6ef5"] {
	background-color: #4c6ef5;
}
input[value="#228be6"] {
	background-color: #228be6;
}
input[value="#15aabf"] {
	background-color: #15aabf;
}
input[value="#12b886"] {
	background-color: #12b886;
}
input[value="#40c057"] {
	background-color: #40c057;
}