html, body {
	margin: 0;
	padding: 0;
}
canvas {
	box-sizing: border-box;
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
#scanner {
	border-radius: 5em;
	border: 2px solid red;
}
#card-list {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
#card-list button {
	border: 1px solid black;
	margin: 0.5em;
	padding: 0.5em;
	text-align: left;
}

h1 {
	font-size: 1.5em;
	text-decoration: underline;
}

button.back {
	position: absolute;
	top: 0;
	left: 0;
	background: none;
	border: none;
	color: inherit;
	padding: .5em;
	box-sizing: border-box;
}

main {
	text-align: center;
	padding: 1em;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
}
main.backdrop {
	background-color: #000;
	color: #888;
}
button {
	padding: .5em;
}
button.action {
	background-color: white;
	border: 2px solid black;
	border-radius: 0.5em;
}